<div class="row collapse">
  <div class="large-4 medium-4 small-12 columns">
    <div class="profile-img">
      <%= image_tag "profile.jpg" %>
      <br />
    </div>
  </div>

  <div class="large-8 medium-8 small-12 columns">
    <h3>About Me</h3>
    <p class="profile">My name is Daniel Bonnell. I’m a web developer currently living in Boston, although I’m originally from the Twin Cities in Minnesota. I recently made the decision to switch careers after having spent the last 3 years working in local government planning and obtaining my Masters in Public Administration from Minnesota State University, Mankato. While I enjoyed the work I was doing, I felt that it was not challenging enough for me. I wanted to solve difficult technical challenges, which was something I only occasionally faced in the work I was doing.</p>
  </div>
</div>

<div class="row collapse">
  <div class="large-12 medium-12 small-12 columns">
    <p class="profile">I had been doing web development as a hobby since middle school, but had never considered a career in it until this point in my life, when I realized that I didn’t need to get a traditional computer science degree to be a web developer. After doing some research and soul searching, I decided to leave my career in local government planning and attending Launch Academy to become a professional developer. Looking back, it was one of the best decisions I’ve ever made.</p>

    <h3>Projects</h3>
    <p class="profile">I’m a firm believer that as a developer, it is important to have side projects that you are passionate about and that keep you engaged in the learning process. I’m fortunate enough to have a few of my own.</p>

    <h5><%= link_to "The Abh Nation", "http://www.abhnation.com/" %></h5>
    <p class="profile">The Abh Nation was my first major web development project. I started the site in 2003 as a fan site for the anime series Crest of the Stars and it ha since grown to become the world’s premier site for the series, attracting tens of thousands of visitors each year.</p>
    <p class="profile">When I went to college, I neglected the site for many years, doing just enough to keep it running, which is always something I will regret. Even before the first day of Launch Academy, I had decided that my capstone project would be a refreshed version of The Abh Nation, which is listed in the ‘Projects’ tab of the navigation menu above. The refreshed version is an ongoing project. I intend to continue developing it and rolling out new features.</p>

    <h5><%= link_to "Blog: Lacmhacarh", "http://www.lacmhacarh.io/" %></h5>
    <p class="profile">Lacmhacarh (pronounced ‘Lakfakalle’) is my personal blog. I am developing it to replace my current Tumblr blog. I’ve always loved hexagonal grids and designs, so I decided to challenge myself to build a grid of my own (which proved much more difficult than I anticipated). Once completed, each hexagon will link to a blog post and feature an image from that blog post. The grid will also respond to different screen sizes, by increasing or decreasing the number of columns, similar to grid systems in Zurb Foundation and Twitter Bootsrap.</p>

    <h3>Interests</h3>
    <p class="profile">Outside of web development, I’m a man of many diverse interests. I enjoy running, cycling, skiing, kayaking, hiking, cooking, reading, and music. Although I don’t watch much TV, my favorite shows are Battlestar Galactica, Stargate SG-1, and Star Trek Voyager. I’m an avid explorer as well. I have traveled to Japan, Ecuador, the Galápagos, the United Kingdom, Spain, Italy, Switzerland, Germany, France, Canada, and to almost every state in the U.S. I studied both Japanese and Spanish for four years and plan to learn German in the near future.</p>
  </div>
</div>
