<div class="row collapse">
    <div class="large-12 columns">
        <h3>Twitter Embed Test</h3>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">In Kobe’s last game, we’re reminded to always love the hate. <a href="https://twitter.com/hashtag/Mambaday?src=hash">#Mambaday</a> <a href="https://t.co/MujYKIv6Ja">https://t.co/MujYKIv6Ja</a></p>&mdash; Nike (@Nike) <a href="https://twitter.com/Nike/status/720272458977128451">April 13, 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Legendary shoes for a legendary career. Make your own Kobe XI <a href="https://twitter.com/hashtag/MambaDay?src=hash">#MambaDay</a> iD tomorrow. <a href="https://t.co/8rD9etsAiv">https://t.co/8rD9etsAiv</a> <a href="https://t.co/B9pGg9UnQv">pic.twitter.com/B9pGg9UnQv</a></p>&mdash; Nike (@Nike) <a href="https://twitter.com/Nike/status/720097236458283008">April 13, 2016</a></blockquote>

        <blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr">A revolution in motion. The <a href="https://twitter.com/hashtag/NikeFree?src=hash">#NikeFree</a> family can match you move for move. Get yours at <a href="https://t.co/22WX3pYEVw">https://t.co/22WX3pYEVw</a>. <a href="https://t.co/ncTYly24Su">pic.twitter.com/ncTYly24Su</a></p>&mdash; Nike (@Nike) <a href="https://twitter.com/Nike/status/718108546299248640">April 7, 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="ja" dir="ltr">大きな夢は、小さく見える。<a href="https://twitter.com/hashtag/justdoit?src=hash">#justdoit</a> <a href="https://t.co/VOysKejxUb">pic.twitter.com/VOysKejxUb</a></p>&mdash; Nike (@Nike) <a href="https://twitter.com/Nike/status/713974605099220992">March 27, 2016</a></blockquote>

        <blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr">Your first, latest or only pair. Just wear and share your Air on 03.26. Find out more at <a href="https://t.co/4BNF7Lqe4h">https://t.co/4BNF7Lqe4h</a> <a href="https://t.co/3engLtjDPQ">pic.twitter.com/3engLtjDPQ</a></p>&mdash; Nike (@Nike) <a href="https://twitter.com/Nike/status/713145217478733824">March 24, 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Forget what tennis used to be. The NikeCourt Air Zoom Ultrafly. Available today. <a href="https://t.co/dHtHdy5y8L">https://t.co/dHtHdy5y8L</a> <a href="https://t.co/LlwdrrcPdh">pic.twitter.com/LlwdrrcPdh</a></p>&mdash; NikeCourt (@Nikecourt) <a href="https://twitter.com/Nikecourt/status/707585627462574080">March 9, 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Stoked to be joining the <a href="https://twitter.com/Nikecourt">@Nikecourt</a> team! Let&#39;s change the future of tennis together. 👊🏻 <a href="https://t.co/UdlXwc8iml">pic.twitter.com/UdlXwc8iml</a></p>&mdash; Jack Sock (@JackSock) <a href="https://twitter.com/JackSock/status/707255966820007936">March 8, 2016</a></blockquote>

        <blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr">We don’t need another running shoe.<br><br>Coming tomorrow to <a href="https://t.co/AN4rV05iA9">https://t.co/AN4rV05iA9</a>. <a href="https://twitter.com/hashtag/LunarEpic?src=hash">#LunarEpic</a><a href="https://t.co/pD855uqZzu">https://t.co/pD855uqZzu</a></p>&mdash; Nike (@Nike) <a href="https://twitter.com/Nike/status/705129456340303872">March 2, 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Stay a villain and dominate long enough to become the hero. <a href="https://twitter.com/hashtag/KOBE?src=hash">#KOBE</a> <a href="https://t.co/1oW3IAKdAI">pic.twitter.com/1oW3IAKdAI</a></p>&mdash; Nike Basketball (@nikebasketball) <a href="https://twitter.com/nikebasketball/status/699091392547594240">February 15, 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Play like a star.<br><br>Tonight <a href="https://twitter.com/DeMar_DeRozan">@DeMar_deRozan</a> wearing his <a href="https://twitter.com/hashtag/kobe11?src=hash">#kobe11</a> Elite iD. Customize on NIKEiD. <a href="https://t.co/TgOMTOhTSf">https://t.co/TgOMTOhTSf</a> <a href="https://t.co/jPcOHQunud">pic.twitter.com/jPcOHQunud</a></p>&mdash; NIKEiD (@NIKEiD) <a href="https://twitter.com/NIKEiD/status/699059874416750593">February 15, 2016</a></blockquote>
    </div>
</div>
