<div class="row collapse">
    <div class="large-8 columns">
    </div>
    <div class="large-4 columns">
        <h3>Widget Test (1/3 width)</h3>
        <br />
        <iframe width="100%" height="450px" frameborder="0" scrolling="none" src="http://www.firmplay-staging.com/janeiro-digital/widget.html" seamless></iframe>
    </div>
</div>

<div class="row collapse">
    <div class="large-6 columns">
    </div>
    <div class="large-6 columns">
        <h3>Widget Test (1/2 width)</h3>
        <br />
        <iframe width="100%" height="450px" frameborder="0" scrolling="none" src="http://www.firmplay-staging.com/janeiro-digital/widget.html" seamless></iframe>
    </div>
</div>

<div class="row collapse">
    <div class="large-12 columns">
        <h3>Widget Test (full width)</h3>
        <br />
        <iframe width="100%" height="450px" frameborder="0" scrolling="none" src="http://www.firmplay-staging.com/janeiro-digital/widget.html" seamless></iframe>
    </div>
</div>
