<div class="row collapse">
  <div class="large-12 medium-12 small-12 columns">
    <h3>Widget Test</h3>
    <br />
    <script src="http://www.firmplay.com/edx/widget.js" type="text/javascript"></script>
    <div class="cleanslate">
        <div id="company-widget"></div>
    </div>
  </div>
</div>
