<div class="row collapse">
  <div class="large-4 medium-4 small-4 columns">
  </div>
  <div class="large-8 medium-8 small-8 columns">
    <h3>Widget Test</h3>
    <br />
    <iframe width="100%" height="500px" frameborder="0" scrolling="none" src="http://www.firmplay-staging.com/janeiro-digital/widget.html" seamless></iframe>
  </div>
</div>
