// Resize top bar for medium-sized screens
  $topbar-height: 1.2em;
  $topbar-title-font-size: 0.6rem;
  $topbar-link-font-size: 0.6rem;
  $topbar-back-link-size: rem-calc(10);
  $topbar-button-font-size: 0.6rem;
  $topbar-dropdown-label-font-size: rem-calc(10);
  $topbar-menu-link-font-size: rem-calc(10);
