<%# navigation styled for Zurb Foundation 5 %>
<div class="row collapse">
  <nav class="top-bar large-24 medium-24 small-24 columns" data-topbar role="navigation" data-options="is_hover:true">
    <ul class="title-area">
      <li class="name"><h1><%= link_to 'Daniel Bonnell', root_path %></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <div class="top-bar-section">
      <ul class="right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
</div>
